{
  "projects": {
    "default": "YOUR_FIREBASE_PROJECT_ID"
  },
  "targets": {
    "YOUR_FIREBASE_PROJECT_ID": {
      "hosting": {
        "production": ["YOUR_PROD_SITE_ID"],
        "staging": ["YOUR_STAGING_SITE_ID"]
      }
    }
  }
}
