.idea/
*.iml
*.DS_Store
assets/icons/shapes
.vscode/
*.exe
.secret/
*.wasm
web/public/wasm/
testdemos/
.env
.env.local
web/dist/
# Build artifacts
server/csgo-2d-demo-player
parser/csgo-2d-demo-player