.roundNav {
  width: 6%;
  margin: 1px;
  color: var(--BlackColor) !important;
}

.roundNav.T {
  background-color: var(--TColor);
}

.roundNav.CT {
  background-color: var(--CTColor);
}

.roundNav.active {
  filter: brightness(1.5);
  font-weight: bold;
}
