:root {
  --TColor: #C7A247;
  --CTColor: #4F9EDE;
  --BlackColor: #0c0f12;
  --LightColor: #ccba7c;
  --DarkColor: #413a27;
}

.T {
  color: var(--TColor);
}

.CT {
  color: var(--CTColor);
}

html, body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto Light", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  background-color: var(--BlackColor);
  color: var(--LightColor) !important;
  margin: 0;
  padding: 0;

  height: 100%;
}

.grid-container > div {
  text-align: center;
  padding: 0;
  font-size: 30px;
  height: calc(100vh);
}

.dead {
  background-image: url("assets/icons/csgo/dead.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.defuse {
  background-image: url("assets/icons/csgo/defuse.svg");
  filter: brightness(1.5) !important;
}

.vest {
  background-image: url("assets/icons/csgo/vest.svg");
  background-size: 50%;
}

.vesthelm {
  background-image: url("assets/icons/csgo/vesthelm.svg");
}
