:root {
  --TColor: #de9b35;
  --CTColor: #5d79ae;
  --BlackColor: #0c0f12;
  --LightColor: #ccba7c;
  --DarkColor: #413a27;
}

html, body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto Light", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  background-color: var(--BlackColor);
  color: var(--LightColor) !important;
  margin: 0;
  padding: 0;

  height: 100%;
}

.grid-container > div {
  text-align: center;
  padding: 0;
  font-size: 30px;
  height: calc(100vh);
}

.map {
  background-color: black;
}

.map-container {
  position: relative;
  /*width: 100%;*/
  height: 100%;
  aspect-ratio: 1/1;
  /*background-image: url("https://raw.githubusercontent.com/zoidbergwill/csgo-overviews/master/overviews/de_mirage.jpg");*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  z-index: 0;
}

.player {
  /* scale size */
  width: 1.5%;
  height: 1.5%;
  /* and center it */
  margin-left: -.75%;
  margin-top: -.75%;
  /*make it round*/
  border-radius: 50%;

  transition: 60ms linear;

  position: absolute;
  opacity: 1;
}

.player.CT {
  box-shadow: 0 0 0 .1vh var(--CTColor);
}

.player.T {
  box-shadow: 0 0 0 .1vh var(--TColor);
}

.player.flashed {
  box-shadow: 0 0 1vh .2vh white;
}

.player .dead {
  opacity: .5;
}

.playerArrow {
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 25% 30%, 75% 30%);
  margin: auto;
  position: absolute;
}

.playerArrowContainer {
  width: 100%;
  height: 100%;
}

.playerShot {
  transition: 100ms linear;
  transform-origin: top;
  width: 1px;
  height: 5%;
  background-color: gray;
  position: absolute;
}

.player.T, .playerArrow.T {
  background-color: var(--TColor);
}

.player.CT, .playerArrow.CT {
  background-color: var(--CTColor);
}

.T {
  color: var(--TColor);
}

.CT {
  color: var(--CTColor);
}

#timer {
  color: var(--LightColor);
  user-select: none;
}

.roundNav {
  width: 6%;
  margin: 1px;
  color: var(--BlackColor) !important;
}

.roundNav.T {
  background-color: var(--TColor) !important;
}

.roundNav.CT {
  background-color: var(--CTColor) !important;
}

.roundNav.active {
  filter: brightness(1.5);
}

.rotate {
  animation: rotation 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.actionButtons {
  padding-bottom: 0 !important;
}

.actionButtons a {
  text-decoration: none;
  margin: 0 5px;
}

.preload {
  position: absolute;
  left: -1000px;
}

.playerNameTag {
  position: absolute;
  transform: translate(-35%, -200%);
  display: block;
  /*border: 1px solid black;*/
  border-radius: 2px;
  background-color: var(--DarkColor);
  white-space: nowrap;
  padding: 0 2px;
  opacity: .4;
  z-index: -5;
  font-size: 1vh;
}

#matchList td {
  white-space: nowrap;
}

.playerMapWeapon {
  width: 200%;
  height: 100%;
  display: block;
  transform: translate(-30%, -300%);
  opacity: .4;
  z-index: -4;
  background-size: contain;
  background-image: url("/assets/icons/csgo/aug.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.mapNade {
  /* scale size */
  width: 1%;
  height: 1%;
  /* and center it */
  margin-left: -.5%;
  margin-top: -.5%;
  /*make it round*/
  border-radius: 50%;

  transition: 60ms linear;

  position: absolute;
  box-shadow: 0 0 1vh 0 var(--BlackColor);
  opacity: .8;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mapNade .he {
  background-color: green;
}

.mapNade .smoke {
  background-color: grey;
}

.mapNade .molotov, .mapNade .incendiary {
  background-color: orangered;
}

.mapNade .decoy {
  background-color: yellow;
}

.mapNade .flash {
  background-color: lightblue;
}

.fire.explode {
  box-shadow: 0 0 1vh 1vh orangered;
  transition: box-shadow 0.2s linear;
  background: orangered;
  opacity: .8;
}

.flash.explode {
  box-shadow: 0 0 1vh 2vh whitesmoke;
  transition: box-shadow 0.05s linear;
  background: whitesmoke;
  opacity: .8;
}

.he.explode {
  box-shadow: 0 0 2vh 2vh orangered;
  transition: box-shadow 0.2s linear;
  background: orangered;
  opacity: .8;
}

.smoke.explode {
  box-shadow: 0 0 1vh 3vh darkgray;
  transition: box-shadow 0.2s linear;
  background: darkgray;
  opacity: .6;
}

.decoy.explode {
  animation: decoyPop .5s linear infinite;
}

@keyframes decoyPop {
  0% {
    box-shadow: none;
  }

  10% {
    box-shadow: 0 0 .5vh 1vh sandybrown;
  }

  20% {
    box-shadow: none;
  }
}

.fire.explode {
  transition: box-shadow 0.2s linear;
  background: darkorange;
  opacity: .5;
  width: .5%;
  height: .5%;
  margin-left: -.25%;
  margin-top: -.25%;
  animation: firing 1s linear infinite;
}

@keyframes firing {
  0% {
    box-shadow: 0 0 0.2vh 0.3vh darkorange;
  }

  50% {
    box-shadow: 0 0 0.3vh 0.5vh darkorange;
  }
}

.playerListItem {
  position: relative;
  text-align: left;
}

.playerListHp {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.playerListHpValue {
  background-color: var(--TColor);
  height: 100%;
  z-index: 1;
}

.playerListHpValue.T {
  background-color: var(--TColor);
  float: left;
}

.playerListHpValue.CT {
  background-color: var(--CTColor);
  float: right;
}

.playerListItemName, .playerListHpText {
  color: white;
  z-index: 5;
  position: relative;
  padding: 0 5%;
  font-weight: bold;
}

.playerListHpText {
  padding: 0;
  text-align: center;
}

.layerListItemName.T {
  text-align: left;
}

.playerListItemName.CT {
  text-align: right;
}

.playerListWeapons {
  min-height: 5vh;
  padding: 1vh 0;
  border-bottom: 1px solid var(--LightColor);
}

.playerListWeapons > div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(.5);
}

.playerListWeapons > div.active {
  filter: brightness(1);
}
