<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
  <link rel="stylesheet" type="text/css" href="assets/style.css" />
</head>
<body>
<div class="grid-container">
  <div class="grid-item">
    <h3 class="T" id="TName">Terrorists</h3>
    <h2 class="T" id="TScore">0</h2>
    <ul class="T" id="TList">
    </ul>
  </div>
  <div class="grid-item map">
    <div class="map-container" id="map">
      <span id="timer">0:00</span>
      <progress id="loadingProgress" value="0" max="100"> loading ... </progress>
    </div>
  </div>
  <div class="grid-item">
    <h3 class="CT" id="CTName">Counter Terrorists</h3>
    <h2 class="CT" id="CTScore">0</h2>
    <ul class="CT" id="CTList">
    </ul>
  </div>
</div>
<script src="/assets/script.js"></script>
</body>
</html>
