<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
</head>
<body>
<h1>Hello there</h1>
<button onclick="socket.send('parse')">Send</button>
<script type="text/javascript">
  let socket = new WebSocket("ws://localhost:8080/ws")

  socket.onopen = function(e) {
    console.log("[open] Connection established");
    socket.send("My name is John");
  };

  socket.onmessage = function(event) {
    console.log(`[message] Data received from server: ${event.data}`);
  };

  socket.onclose = function(event) {
    if (event.wasClean) {
      console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
    } else {
      console.log('[close] Connection died');
    }
  };

  socket.onerror = function(error) {
    console.log(`[error] ${error.message}`);
  };
</script>
</body>
</html>
