<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
  <link rel="stylesheet" type="text/css" href="assets/style.css" />
</head>
<body>
<div class="grid-container">
  <div class="grid-item">1</div>
  <div class="grid-item map">
    <div class="map-container">
      <div class="player" id="player11"></div>
    </div>
    <button onclick="socket.send('parse')">send</button>
  </div>
  <div class="grid-item">3</div>
</div>
<script src="/assets/script.js"></script>
</body>
</html>
