<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CS:GO 2D Demo Player</title>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
  <link rel="stylesheet" href="/assets/style.css" />

  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="/assets/list.js" type="text/babel"></script>

</head>
<body>
<span class="material-icons preload">autorenew</span>
<div class="w3-container">
  <div class="w3-row">
    <div class="w3-col l2">
      <br>
    </div>
    <div class="w3-col l8">
      <div class="w3-container w3-xlarge w3-light-grey">
        <div>
        {{if .AuthCookie}}
            <a href="https://www.faceit.com/en/players/{{.AuthCookie}}"><img src="/assets/faceit-logo.svg" height="50" /><span id="faceitNickname">{{.AuthCookie}}</span></a>
            <a class="material-icons w3-large" href="/auth/faceit/logout">logout</a>
        {{else}}
          <a href="/auth/faceit/login"><img src="/assets/faceit-logo.svg" height="50" />Sign in</a>
        {{end}}
        </div>
      </div>
      <div id="searchNote" class="w3-margin w3-container w3-center loader w3-xlarge">
      </div>
      <table class="w3-table-all w3-centered w3-hoverable" id="matchList">
      </table>
    </div>
    <div class="w3-col l2">
      <br>
    </div>
  </div>
</div>
</body>
</html>