<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>

  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

  <!--  <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>-->
  <!--  <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>-->
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="/assets/list.js" type="text/babel"></script>
</head>
<body>

<div class="w3-container">
  <div class="w3-row">
    <div class="w3-col l3">
a
    </div>
    <div class="w3-col l6">
      <table class="w3-table w3-striped w3-card-4">
        <thead>
        <tr>
          <th class="w3-col l2">Date</th>
          <th class="w3-col l1">Map</th>
          <th class="w3-col l1">Mode</th>
          <th class="w3-col l6">Result</th>
          <th class="w3-col l2"></th>
        </tr>
        </thead>
        <tbody id="matchList">

        </tbody>
      </table>
    </div>
    <div class="w3-col l3">
      a
    </div>
  </div>
</div>
</body>
</html>