<html lang="en" class=" mfozae idc0_336">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CS:GO 2D Demo Player</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/weapons.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
<div class="grid-container">
  <div class="grid-item map">
    <div class="map-container" id="map"
         style="background-image: url(&quot;https://raw.githubusercontent.com/zoidbergwill/csgo-overviews/master/overviews/de_dust2.jpg&quot;);">
      <div class="player T deletable" id="playerMap194"
           style="left: 22.1759%; top: 71.7946%; background: linear-gradient(0deg, var(--TColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer194" class="playerArrowContainer T">
          <div id="playerArrow194" class="playerArrow T"
               style="transform: rotate(-11.684deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag194" class="playerNameTag">fafan1337</div>
        <div id="playerMapWeapon194" class="playerMapWeapon decoy"></div>
      </div>
      <div class="player T deletable" id="playerMap195"
           style="left: 29.7052%; top: 81.9014%; background: linear-gradient(0deg, var(--TColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer195" class="playerArrowContainer T">
          <div id="playerArrow195" class="playerArrow T"
               style="transform: rotate(-50.8557deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag195" class="playerNameTag">spr21</div>
        <div id="playerMapWeapon195" class="playerMapWeapon knife"></div>
      </div>
      <div class="player T deletable" id="playerMap186"
           style="left: 45.5889%; top: 72.3225%; background: linear-gradient(0deg, var(--TColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer186" class="playerArrowContainer T">
          <div id="playerArrow186" class="playerArrow T"
               style="transform: rotate(0.346069deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag186" class="playerNameTag">Fnz-beggi</div>
        <div id="playerMapWeapon186" class="playerMapWeapon glock"></div>
      </div>
      <div class="player T deletable" id="playerMap191"
           style="left: 22.1443%; top: 74.7433%; background: linear-gradient(0deg, var(--TColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer191" class="playerArrowContainer T">
          <div id="playerArrow191" class="playerArrow T"
               style="transform: rotate(-11.6071deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag191" class="playerNameTag">Impaczt</div>
        <div id="playerMapWeapon191" class="playerMapWeapon knife"></div>
      </div>
      <div class="player T deletable" id="playerMap193"
           style="left: 25.8947%; top: 81.7794%; background: linear-gradient(0deg, var(--TColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer193" class="playerArrowContainer T">
          <div id="playerArrow193" class="playerArrow T"
               style="transform: rotate(-33.6566deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag193" class="playerNameTag">VDFnavzdy</div>
        <div id="playerMapWeapon193" class="playerMapWeapon knife"></div>
      </div>
      <div class="player CT deletable" id="playerMap192"
           style="left: 42.6505%; top: 22.1644%; background: linear-gradient(0deg, var(--CTColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer192" class="playerArrowContainer CT">
          <div id="playerArrow192" class="playerArrow CT"
               style="transform: rotate(-114.51deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag192" class="playerNameTag">Frederik0108</div>
        <div id="playerMapWeapon192" class="playerMapWeapon knife"></div>
      </div>
      <div class="player CT deletable" id="playerMap190"
           style="left: 53.0904%; top: 24.0234%; background: linear-gradient(0deg, var(--CTColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer190" class="playerArrowContainer CT">
          <div id="playerArrow190" class="playerArrow CT"
               style="transform: rotate(-81.0461deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag190" class="playerNameTag">SimfnTheGuy</div>
        <div id="playerMapWeapon190" class="playerMapWeapon knife"></div>
      </div>
      <div class="player CT deletable" id="playerMap187"
           style="left: 78.6397%; top: 22.8538%; background: linear-gradient(0deg, var(--CTColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer187" class="playerArrowContainer CT">
          <div id="playerArrow187" class="playerArrow CT"
               style="transform: rotate(89.4672deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag187" class="playerNameTag">Ju1iusH</div>
        <div id="playerMapWeapon187" class="playerMapWeapon knife"></div>
      </div>
      <div class="player CT deletable" id="playerMap189"
           style="left: 80.9935%; top: 21.8774%; background: linear-gradient(0deg, var(--CTColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer189" class="playerArrowContainer CT">
          <div id="playerArrow189" class="playerArrow CT"
               style="transform: rotate(-213.777deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag189" class="playerNameTag">CbmZ</div>
        <div id="playerMapWeapon189" class="playerMapWeapon usp-s"></div>
      </div>
      <div class="player CT deletable" id="playerMap188"
           style="left: 45.996%; top: 24.7408%; background: linear-gradient(0deg, var(--CTColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer188" class="playerArrowContainer CT">
          <div id="playerArrow188" class="playerArrow CT"
               style="transform: rotate(-178.215deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag188" class="playerNameTag">Kookedy</div>
        <div id="playerMapWeapon188" class="playerMapWeapon usp-s"></div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="w3-row">
      <div id="loadingProgress" hidden="">
        <div class="w3-dark-gray w3-xlarge w3-left-align">
          <div id="loadingProgressValue" class="w3-container w3-gray" style="width: 100%;">
            <br>
          </div>
        </div>
        <span id="loadingProgressMessage">Loading match ...</span>
      </div>
    </div>
    <div class="w3-row" id="controlPanel">
      <div id="timerContainer" class="w3-xlarge w3-left-align w3-dark-gray">
        <div id="timer" class="w3-container w3-gray" style="width: 7.15084%;">0:03</div>
      </div>
      <div class="w3-bar w3-small" id="roundNavBar">
        <a href="#" class="w3-button roundNav T active" id="roundNav1">1</a><a href="#"
                                                                               class="w3-button roundNav T"
                                                                               id="roundNav2">2</a><a
            href="#" class="w3-button roundNav T" id="roundNav3">3</a><a href="#"
                                                                         class="w3-button roundNav T"
                                                                         id="roundNav4">4</a><a
            href="#" class="w3-button roundNav T" id="roundNav5">5</a><a href="#"
                                                                         class="w3-button roundNav CT"
                                                                         id="roundNav6">6</a><a
            href="#" class="w3-button roundNav T" id="roundNav7">7</a><a href="#"
                                                                         class="w3-button roundNav T"
                                                                         id="roundNav8">8</a><a
            href="#" class="w3-button roundNav T" id="roundNav9">9</a><a href="#"
                                                                         class="w3-button roundNav T"
                                                                         id="roundNav10">10</a><a
            href="#" class="w3-button roundNav T" id="roundNav11">11</a><a href="#"
                                                                           class="w3-button roundNav T"
                                                                           id="roundNav12">12</a><a
            href="#" class="w3-button roundNav T" id="roundNav13">13</a><a href="#"
                                                                           class="w3-button roundNav CT"
                                                                           id="roundNav14">14</a><a
            href="#" class="w3-button roundNav T" id="roundNav15">15</a><br><a href="#"
                                                                               class="w3-button roundNav CT"
                                                                               id="roundNav16">16</a><a
            href="#" class="w3-button roundNav CT" id="roundNav17">17</a></div>
      <div class="w3-row">
        <div class="w3-col l4"><br></div>
        <div class="w3-col l4">
          <button class="w3-button w3-ripple w3-dark-gray material-icons"
                  onclick="playRoundIncrement(-1)">
          </button>
          <button id="playToggleButton" class="w3-button w3-ripple w3-dark-gray material-icons"
                  onclick="togglePlay()">
          </button>
          <button class="w3-button w3-ripple w3-dark-gray material-icons"
                  onclick="playRoundIncrement(1)">
          </button>
        </div>
        <div class="w3-col l4 w3-right-align">
          <button class="w3-button w3-ripple w3-dark-gray material-icons" onclick="playSpeed(0.5)">
            
          </button>
          <button class="w3-button w3-ripple w3-dark-gray material-icons" onclick="playSpeed(1)">
            
          </button>
          <button class="w3-button w3-ripple w3-dark-gray material-icons" onclick="playSpeed(4)">
            
          </button>
        </div>
      </div>
      <hr>
      <div class="w3-row">
        <div class="w3-col l6 w3-center">
          <h2 class="T" id="TScore">0</h2>
        </div>
        <div class="w3-col l6 w3-center">
          <h2 class="CT" id="CTScore">0</h2>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6 w3-center">
          <h3 id="TName" class="T">Lost Future</h3>
        </div>
        <div class="w3-col l6 w3-center">
          <h3 id="CTName" class="CT">TheUniqueMinks</h3>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6">
          <ul class="T w3-ul w3-medium" id="TList">
            <div class="w3-row playerDetail" id="playerListItem194">
              <h3>fafan1337</h3>
              <div class="ak47">
                AK47
              </div>
              HP100 Armor100
              USP-s knife he flash smoke decoy bomb/defuse
            </div>

            <li id="playerListItem195">spr21 HP100</li>
            <li id="playerListItem186">Fnz-beggi HP100</li>
            <li id="playerListItem191">Impaczt HP100</li>
            <li id="playerListItem193">VDFnavzdy HP100</li>
          </ul>
        </div>
        <div class="w3-col l6">
          <ul class="CT w3-ul w3-medium" id="CTList">
            <li id="playerListItem192">Frederik0108 HP100</li>
            <li id="playerListItem190">SimfnTheGuy HP100</li>
            <li id="playerListItem187">Ju1iusH HP100</li>
            <li id="playerListItem189">CbmZ HP100</li>
            <li id="playerListItem188">Kookedy HP100</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/test.js"></script>


</body>
</html>