<html lang="en" class=" nuussedghi idc0_336">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CS:GO 2D Demo Player</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/weapons.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
<div class="grid-container">
  <div class="grid-item map">
    <div class="map-container" id="map"
         style="background-image: url(&quot;https://raw.githubusercontent.com/zoidbergwill/csgo-overviews/master/overviews/de_nuke.jpg&quot;);">
      <div class="player T" id="playerMap188" style="left: 49.3273%; top: 58.2857%; opacity: 1;">
        <div id="playerContainer188" class="playerArrowContainer T">
          <div id="playerArrow188" class="playerArrow T"
               style="transform: rotate(-185.614deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag188" class="playerNameTag">Impaczt</div>
        <div id="playerMapWeapon188" class="playerMapWeapon knife"></div>
      </div>
      <div class="player T" id="playerMap187" style="left: 49.6928%; top: 60.7456%; opacity: 1;">
        <div id="playerContainer187" class="playerArrowContainer T">
          <div id="playerArrow187" class="playerArrow T"
               style="transform: rotate(-239.546deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag187" class="playerNameTag">spr21</div>
        <div id="playerMapWeapon187" class="playerMapWeapon deagle"></div>
      </div>
      <div class="player T" id="playerMap184" style="left: 49.0489%; top: 55.232%; opacity: 1;">
        <div id="playerContainer184" class="playerArrowContainer T">
          <div id="playerArrow184" class="playerArrow T"
               style="transform: rotate(-189.855deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag184" class="playerNameTag">VDFnavzdy</div>
        <div id="playerMapWeapon184" class="playerMapWeapon knife"></div>
      </div>
      <div class="player T" id="playerMap186" style="left: 46.4903%; top: 66.136%; opacity: 1;">
        <div id="playerContainer186" class="playerArrowContainer T">
          <div id="playerArrow186" class="playerArrow T"
               style="transform: rotate(86.3855deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag186" class="playerNameTag">fafan1337</div>
        <div id="playerMapWeapon186" class="playerMapWeapon deagle"></div>
      </div>
      <div class="player T" id="playerMap189" style="left: 49.454%; top: 59.0149%; opacity: 1;">
        <div id="playerContainer189" class="playerArrowContainer T">
          <div id="playerArrow189" class="playerArrow T"
               style="transform: rotate(-181.714deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag189" class="playerNameTag">Fnz-beggi</div>
        <div id="playerMapWeapon189" class="playerMapWeapon knife"></div>
      </div>
      <div class="player CT" id="playerMap183" style="left: 73.5979%; top: 64.5004%; opacity: 1;">
        <div id="playerContainer183" class="playerArrowContainer CT">
          <div id="playerArrow183" class="playerArrow CT"
               style="transform: rotate(-101.354deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag183" class="playerNameTag">Explodee</div>
        <div id="playerMapWeapon183" class="playerMapWeapon awp"></div>
      </div>
      <div class="player CT" id="playerMap191" style="left: 62.6051%; top: 62.4508%; opacity: 1;">
        <div id="playerContainer191" class="playerArrowContainer CT">
          <div id="playerArrow191" class="playerArrow CT"
               style="transform: rotate(-125.59deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag191" class="playerNameTag">ROALTY</div>
        <div id="playerMapWeapon191" class="playerMapWeapon m4a1s"></div>
      </div>
      <div class="player CT" id="playerMap192" style="left: 56.3158%; top: 43.142%; opacity: 1;">
        <div id="playerContainer192" class="playerArrowContainer CT">
          <div id="playerArrow192" class="playerArrow CT"
               style="transform: rotate(-40.7703deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag192" class="playerNameTag">5TEPHAN0</div>
        <div id="playerMapWeapon192" class="playerMapWeapon ak47"></div>
      </div>
      <div class="player CT" id="playerMap185" style="left: 61.1446%; top: 44.4042%; opacity: 1;">
        <div id="playerContainer185" class="playerArrowContainer CT">
          <div id="playerArrow185" class="playerArrow CT"
               style="transform: rotate(-141.581deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag185" class="playerNameTag">Born2Bwicked</div>
        <div id="playerMapWeapon185" class="playerMapWeapon m4a1s"></div>
      </div>
      <div class="player CT" id="playerMap190" style="left: 57.6815%; top: 49.4161%; opacity: 1;">
        <div id="playerContainer190" class="playerArrowContainer CT">
          <div id="playerArrow190" class="playerArrow CT"
               style="transform: rotate(-132.654deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag190" class="playerNameTag">plierp</div>
        <div id="playerMapWeapon190" class="playerMapWeapon m4a1s"></div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="w3-row">
      <div id="loadingProgress" hidden="">
        <div class="w3-dark-gray w3-xlarge w3-left-align">
          <div id="loadingProgressValue" class="w3-container w3-green" style="width: 100%;">
            <br>
          </div>
        </div>
        <span id="loadingProgressMessage">Loading demo ...</span>
      </div>
    </div>
    <div class="w3-row" id="controlPanel">
      <div class="w3-xlarge w3-left-align">
        <div id="timer" class="w3-container w3-green">0:11</div>
      </div>
      <div class="w3-bar w3-small" id="roundNavBar">
        <a href="#" class="w3-button roundNav T" id="roundNav1">1</a><a href="#"
                                                                        class="w3-button roundNav T"
                                                                        id="roundNav2">2</a><a
            href="#" class="w3-button roundNav CT" id="roundNav3">3</a><a href="#"
                                                                          class="w3-button roundNav CT"
                                                                          id="roundNav4">4</a><a
            href="#" class="w3-button roundNav CT active" id="roundNav5">5</a><a href="#"
                                                                                 class="w3-button roundNav CT"
                                                                                 id="roundNav6">6</a><a
            href="#" class="w3-button roundNav CT" id="roundNav7">7</a><a href="#"
                                                                          class="w3-button roundNav T"
                                                                          id="roundNav8">8</a><a
            href="#" class="w3-button roundNav CT" id="roundNav9">9</a><a href="#"
                                                                          class="w3-button roundNav CT"
                                                                          id="roundNav10">10</a><a
            href="#" class="w3-button roundNav T" id="roundNav11">11</a><a href="#"
                                                                           class="w3-button roundNav CT"
                                                                           id="roundNav12">12</a><a
            href="#" class="w3-button roundNav T" id="roundNav13">13</a><a href="#"
                                                                           class="w3-button roundNav T"
                                                                           id="roundNav14">14</a><a
            href="#" class="w3-button roundNav CT" id="roundNav15">15</a><br><a href="#"
                                                                                class="w3-button roundNav T"
                                                                                id="roundNav16">16</a><a
            href="#" class="w3-button roundNav T" id="roundNav17">17</a><a href="#"
                                                                           class="w3-button roundNav CT"
                                                                           id="roundNav18">18</a><a
            href="#" class="w3-button roundNav CT" id="roundNav19">19</a><a href="#"
                                                                            class="w3-button roundNav T"
                                                                            id="roundNav20">20</a><a
            href="#" class="w3-button roundNav T" id="roundNav21">21</a><a href="#"
                                                                           class="w3-button roundNav T"
                                                                           id="roundNav22">22</a><a
            href="#" class="w3-button roundNav T" id="roundNav23">23</a><a href="#"
                                                                           class="w3-button roundNav CT"
                                                                           id="roundNav24">24</a>
      </div>
      <button onclick="togglePlay()">⏯</button>
      <h3>
        <span id="TName" class="T">Lost Future</span>
        <span id="CTName" class="CT">EUROGAMING</span>
      </h3>
      <span class="T" id="TScore">2</span>
      :
      <span class="CT" id="CTScore">2</span>
      <ul class="T w3-ul w3-medium" id="TList">
        <li id="playerListItem188" class="" style="opacity: 1;">Impaczt (188)</li>
        <li id="playerListItem187" class="" style="opacity: 1;">spr21 (187)</li>
        <li id="playerListItem184" class="" style="opacity: 1;">VDFnavzdy (184)</li>
        <li id="playerListItem186" class="" style="opacity: 1;">fafan1337 (186)</li>
        <li id="playerListItem189" class="" style="opacity: 1;">Fnz-beggi (189)</li>
      </ul>
      <ul class="CT w3-ul w3-medium" id="CTList">
        <li id="playerListItem183" class="" style="opacity: 1;">Explodee (183)</li>
        <li id="playerListItem191" class="" style="opacity: 1;">ROALTY (191)</li>
        <li id="playerListItem192" class="" style="opacity: 1;">5TEPHAN0 (192)</li>
        <li id="playerListItem185" class="" style="opacity: 1;">Born2Bwicked (185)</li>
        <li id="playerListItem190" class="" style="opacity: 1;">plierp (190)</li>
      </ul>
    </div>
  </div>
</div>
<script src="/assets/test.js"></script>


</body>
</html>