<html lang="en" class=" uvofvnch idc0_336">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CS:GO 2D Demo Player</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/weapons.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
<div class="grid-container">
  <div class="grid-item map">
    <div class="map-container" id="map"
         style="background-image: url(&quot;https://raw.githubusercontent.com/zoidbergwill/csgo-overviews/master/overviews/de_inferno.jpg&quot;);">
      <div class="player T deletable" id="playerMap200"
           style="left: 45.1807%; top: 54.6175%; background: linear-gradient(0deg, var(--TColor) 0%, transparent 100%); opacity: 0.2;">
        <div id="playerContainer200" class="playerArrowContainer T">
          <div id="playerArrow200" class="playerArrow T"
               style="transform: rotate(15.705deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag200" class="playerNameTag">kiKo1v3</div>
        <div id="playerMapWeapon200" class="playerMapWeapon glock" hidden=""></div>
      </div>
      <div class="player T deletable" id="playerMap202"
           style="left: 32.3787%; top: 63.8749%; background: linear-gradient(0deg, var(--TColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer202" class="playerArrowContainer T">
          <div id="playerArrow202" class="playerArrow T"
               style="transform: rotate(62.7209deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag202" class="playerNameTag">LYNTIK987</div>
        <div id="playerMapWeapon202" class="playerMapWeapon knife"></div>
      </div>
      <div class="player T deletable" id="playerMap204"
           style="left: 59.9797%; top: 70.4428%; background: linear-gradient(0deg, var(--TColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer204" class="playerArrowContainer T">
          <div id="playerArrow204" class="playerArrow T"
               style="transform: rotate(-61.441deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag204" class="playerNameTag">-Superman--</div>
        <div id="playerMapWeapon204" class="playerMapWeapon glock"></div>
      </div>
      <div class="player T deletable" id="playerMap201"
           style="left: 43.8579%; top: 63.8115%; background: linear-gradient(0deg, var(--TColor) 0%, transparent 100%); opacity: 0.2;">
        <div id="playerContainer201" class="playerArrowContainer T">
          <div id="playerArrow201" class="playerArrow T"
               style="transform: rotate(-262.035deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag201" class="playerNameTag">Dikocntor</div>
        <div id="playerMapWeapon201" class="playerMapWeapon glock" hidden=""></div>
      </div>
      <div class="player T deletable" id="playerMap203"
           style="left: 59.8184%; top: 64.6222%; background: linear-gradient(0deg, var(--TColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer203" class="playerArrowContainer T">
          <div id="playerArrow203" class="playerArrow T"
               style="transform: rotate(-241.771deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag203" class="playerNameTag">The_Monk02</div>
        <div id="playerMapWeapon203" class="playerMapWeapon glock"></div>
      </div>
      <div class="player CT deletable" id="playerMap208"
           style="left: 68.3195%; top: 77.8261%; background: linear-gradient(0deg, var(--CTColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer208" class="playerArrowContainer CT">
          <div id="playerArrow208" class="playerArrow CT"
               style="transform: rotate(0.291138deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag208" class="playerNameTag">Fnz-beggi</div>
        <div id="playerMapWeapon208" class="playerMapWeapon usp-s"></div>
      </div>
      <div class="player CT deletable" id="playerMap205"
           style="left: 63.9785%; top: 23.9463%; background: linear-gradient(0deg, var(--CTColor) 95%, transparent 5%); opacity: 1;">
        <div id="playerContainer205" class="playerArrowContainer CT">
          <div id="playerArrow205" class="playerArrow CT"
               style="transform: rotate(-94.2517deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag205" class="playerNameTag">VDFnavzdy</div>
        <div id="playerMapWeapon205" class="playerMapWeapon usp-s"></div>
      </div>
      <div class="player CT deletable" id="playerMap207"
           style="left: 45.634%; top: 18.816%; background: linear-gradient(0deg, var(--CTColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer207" class="playerArrowContainer CT">
          <div id="playerArrow207" class="playerArrow CT"
               style="transform: rotate(-233.064deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag207" class="playerNameTag">spr21</div>
        <div id="playerMapWeapon207" class="playerMapWeapon smoke"></div>
      </div>
      <div class="player CT deletable" id="playerMap209"
           style="left: 73.4919%; top: 53.421%; background: linear-gradient(0deg, var(--CTColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer209" class="playerArrowContainer CT">
          <div id="playerArrow209" class="playerArrow CT"
               style="transform: rotate(-152.842deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag209" class="playerNameTag">Impaczt</div>
        <div id="playerMapWeapon209" class="playerMapWeapon usp-s"></div>
      </div>
      <div class="player CT deletable" id="playerMap206"
           style="left: 86.7095%; top: 58.011%; background: linear-gradient(0deg, var(--CTColor) 100%, transparent 0%); opacity: 1;">
        <div id="playerContainer206" class="playerArrowContainer CT">
          <div id="playerArrow206" class="playerArrow CT"
               style="transform: rotate(-163.861deg) translateY(-40%);"></div>
        </div>
        <div id="playerNameTag206" class="playerNameTag">fafan1337</div>
        <div id="playerMapWeapon206" class="playerMapWeapon usp-s"></div>
      </div>
      <div class="mapNade decoy deletable explode" id="mapNade359"
           style="left: 43.4956%; top: 21.9901%;"></div>
    </div>
  </div>
  <div class="grid-item">
    <div class="w3-row">
      <div id="loadingProgress" hidden="">
        <div class="w3-dark-gray w3-xlarge w3-left-align">
          <div id="loadingProgressValue" class="w3-container w3-gray" style="width: 100%;">
            <br>
          </div>
        </div>
        <span id="loadingProgressMessage">Loading match ...</span>
      </div>
    </div>
    <div class="w3-row" id="controlPanel">
      <div id="timerContainer" class="w3-xlarge w3-left-align w3-dark-gray">
        <div id="timer" class="w3-container w3-gray" style="width: 30.4095%;">0:19</div>
      </div>
      <div class="w3-bar w3-small" id="roundNavBar">
        <a href="#" class="w3-button roundNav CT active" id="roundNav1">1</a>
        <a href="#"
           class="w3-button roundNav CT"
           id="roundNav2">2</a><a
            href="#" class="w3-button roundNav T" id="roundNav3">3</a><a href="#"
                                                                         class="w3-button roundNav CT"
                                                                         id="roundNav4">4</a><a
            href="#" class="w3-button roundNav CT" id="roundNav5">5</a><a href="#"
                                                                          class="w3-button roundNav CT"
                                                                          id="roundNav6">6</a><a
            href="#" class="w3-button roundNav T" id="roundNav7">7</a><a href="#"
                                                                         class="w3-button roundNav T"
                                                                         id="roundNav8">8</a><a
            href="#" class="w3-button roundNav T" id="roundNav9">9</a><a href="#"
                                                                         class="w3-button roundNav CT"
                                                                         id="roundNav10">10</a><a
            href="#" class="w3-button roundNav CT" id="roundNav11">11</a><a href="#"
                                                                            class="w3-button roundNav CT"
                                                                            id="roundNav12">12</a><a
            href="#" class="w3-button roundNav CT" id="roundNav13">13</a><a href="#"
                                                                            class="w3-button roundNav CT"
                                                                            id="roundNav14">14</a><a
            href="#" class="w3-button roundNav CT" id="roundNav15">15</a><br><a href="#"
                                                                                class="w3-button roundNav CT"
                                                                                id="roundNav16">16</a><a
            href="#" class="w3-button roundNav T" id="roundNav17">17</a><a href="#"
                                                                           class="w3-button roundNav T"
                                                                           id="roundNav18">18</a><a
            href="#" class="w3-button roundNav T" id="roundNav19">19</a><a href="#"
                                                                           class="w3-button roundNav T"
                                                                           id="roundNav20">20</a>
      </div>
      <div class="w3-row">
        <div class="w3-col l4"><br></div>
        <div class="w3-col l4">
          <button class="w3-button w3-ripple w3-dark-gray material-icons"
                  onclick="playRoundIncrement(-1)">
          </button>
          <button id="playToggleButton" class="w3-button w3-ripple w3-dark-gray material-icons"
                  onclick="togglePlay()">
          </button>
          <button class="w3-button w3-ripple w3-dark-gray material-icons"
                  onclick="playRoundIncrement(1)">
          </button>
        </div>
        <div class="w3-col l4 w3-right-align">
          <button class="w3-button w3-ripple w3-dark-gray material-icons" onclick="playSpeed(0.5)">
            
          </button>
          <button class="w3-button w3-ripple w3-dark-gray material-icons" onclick="playSpeed(1)">
            
          </button>
          <button class="w3-button w3-ripple w3-dark-gray material-icons" onclick="playSpeed(4)">
            
          </button>
        </div>
      </div>
      <hr>
      <div class="w3-row">
        <div class="w3-col l6 w3-center">
          <h2 class="T" id="TScore">0</h2>
        </div>
        <div class="w3-col l6 w3-center">
          <h2 class="CT" id="CTScore">0</h2>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6 w3-center">
          <h3 id="TName" class="T">Queenss</h3>
        </div>
        <div class="w3-col l6 w3-center">
          <h3 id="CTName" class="CT">Lost Future</h3>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l6">
          <div class="T w3-medium" id="TList">
            <div id="playerListItem200" class="playerListItem w3-row">
              <div class="playerListHp w3-dark-grey">
                <div id="playerListHpValue200" class="playerListHpValue T" style="width: 0%;"></div>
              </div>
              <div id="playerListItemName200" class="playerListItemName w3-col l10 T">kiKo1v3</div>
              <div id="playerListHpText200" class="playerListHpText w3-col l2 T">0</div>
            </div>
            <div id="playerListItem202" class="playerListItem w3-row">
              <div class="playerListHp w3-dark-grey">
                <div id="playerListHpValue202" class="playerListHpValue T"
                     style="width: 100%;"></div>
              </div>
              <div id="playerListItemName202" class="playerListItemName w3-col l10 T">LYNTIK987
              </div>
              <div id="playerListHpText202" class="playerListHpText w3-col l2 T">100</div>
            </div>
            <div id="playerListItem204" class="playerListItem w3-row">
              <div class="playerListHp w3-dark-grey">
                <div id="playerListHpValue204" class="playerListHpValue T"
                     style="width: 100%;"></div>
              </div>
              <div id="playerListItemName204" class="playerListItemName w3-col l10 T">-Superman--
              </div>
              <div id="playerListHpText204" class="playerListHpText w3-col l2 T">100</div>
            </div>
            <div id="playerListItem201" class="playerListItem w3-row">
              <div class="playerListHp w3-dark-grey">
                <div id="playerListHpValue201" class="playerListHpValue T" style="width: 0%;"></div>
              </div>
              <div id="playerListItemName201" class="playerListItemName w3-col l10 T">Dikocntor
              </div>
              <div id="playerListHpText201" class="playerListHpText w3-col l2 T">0</div>
            </div>
            <div id="playerListItem203" class="playerListItem w3-row">
              <div class="playerListHp w3-dark-grey">
                <div id="playerListHpValue203" class="playerListHpValue T"
                     style="width: 100%;"></div>
              </div>
              <div id="playerListItemName203" class="playerListItemName w3-col l10 T">The_Monk02
              </div>
              <div id="playerListHpText203" class="playerListHpText w3-col l2 T">100</div>
            </div>
          </div>
        </div>
        <div class="w3-col l6">
          <div class="CT w3-medium" id="CTList">
            <div id="playerListItem208" class="playerListItem w3-row">
              <div class="playerListHp w3-dark-grey">
                <div id="playerListHpValue208" class="playerListHpValue CT"
                     style="width: 100%;"></div>
              </div>
              <div id="playerListHpText208" class="playerListHpText w3-col l2 CT">100</div>
              <div id="playerListItemName208" class="playerListItemName w3-col l10 CT">Fnz-beggi
              </div>
            </div>
            <div id="playerListItem205" class="playerListItem w3-row">
              <div class="playerListHp w3-dark-grey">
                <div id="playerListHpValue205" class="playerListHpValue CT"
                     style="width: 95%;"></div>
              </div>
              <div id="playerListHpText205" class="playerListHpText w3-col l2 CT">95</div>
              <div id="playerListItemName205" class="playerListItemName w3-col l10 CT">VDFnavzdy
              </div>
            </div>
            <div id="playerListItem207" class="w3-row">
              <div class="playerListItem w3-row">
                <div class="playerListHp w3-dark-grey">
                  <div id="playerListHpValue207" class="playerListHpValue CT"
                       style="width: 100%;"></div>
                </div>
                <div id="playerListHpText207" class="playerListHpText w3-col l2 CT">100</div>
                <div id="playerListItemName207" class="playerListItemName w3-col l10 CT">spr21</div>
              </div>
              <div class="w3-row playerListWeapons">
                <div class="w3-col l4 ak47 active">&nbsp;</div>
                <div class="w3-col l2 glock">&nbsp;</div>
                <div class="w3-col l2 knife">&nbsp;</div>
                <div class="w3-col l1 flash">&nbsp;</div>
                <div class="w3-col l1 he">&nbsp;</div>
                <div class="w3-col l1 smoke">&nbsp;</div>
                <div class="w3-col l1 molotov">&nbsp;</div>
              </div>
            </div>
            <div id="playerListItem209" class="w3-row">
              <div class="playerListItem w3-row">
                <div class="playerListHp w3-dark-grey">
                  <div id="playerListHpValue209" class="playerListHpValue CT"
                       style="width: 100%;"></div>
                </div>
                <div id="playerListHpText209" class="playerListHpText w3-col l2 CT">100</div>
                <div id="playerListItemName209" class="playerListItemName w3-col l10 CT">Impaczt
                </div>
              </div>
              <div class="w3-row playerListWeapons">
                <div class="w3-col l4 ak47">&nbsp;</div>
                <div class="w3-col l2 glock active">&nbsp;</div>
                <div class="w3-col l2 knife">&nbsp;</div>
                <div class="w3-col l1 flash">&nbsp;</div>
                <div class="w3-col l1 he">&nbsp;</div>
                <div class="w3-col l1 smoke">&nbsp;</div>
                <div class="w3-col l1 molotov">&nbsp;</div>
              </div>
            </div>
            <div id="playerListItem209" class="w3-row">
              <div class="playerListItem w3-row">
                <div class="playerListHp w3-dark-grey">
                  <div id="playerListHpValue209" class="playerListHpValue CT"
                       style="width: 100%;"></div>
                </div>
                <div id="playerListHpText209" class="playerListHpText w3-col l2 CT">100</div>
                <div id="playerListItemName209" class="playerListItemName w3-col l10 CT">fafan1337
                </div>
              </div>
              <div class="w3-row playerListWeapons">
                <div class="w3-col l4 ak47">&nbsp;</div>
                <div class="w3-col l2 glock active">&nbsp;</div>
                <div class="w3-col l2 knife">&nbsp;</div>
                <div class="w3-col l1 flash">&nbsp;</div>
                <div class="w3-col l1 he">&nbsp;</div>
                <div class="w3-col l1 smoke">&nbsp;</div>
                <div class="w3-col l1 molotov">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/test.js"></script>


</body>
</html>