.killfeed {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  font-size: 12px;
  font-weight: bold;
  z-index: 100;
}

.killfeedRow {
  background-color: var(--DarkColor);
  padding: 1px 10px;
  border-radius: 5px;
  opacity: 0.75;
  display: inline-block;
  float: right;
  clear: right;
  margin: 2px 0;
  white-space: nowrap;
}

.killfeedIcon {
  display: inline-block;
  margin: 0 10px;
  height: 48px;
  width: auto;
  vertical-align: middle;
}

.killfeedIcon[data-weapon="c4"] {
  filter: brightness(2) contrast(2);
}

.killfeedIcon.headshot {
  margin: 0 5px;
}
