.player {
  /* scale size */
  width: 1%;
  height: 1%;
  /* and center it */
  margin-left: -.5%;
  margin-top: -.5%;
  /*make it round*/
  border-radius: 50%;

  transition: left 60ms linear, top 60ms linear, opacity 60ms linear, background 60ms linear;
  will-change: left, top;

  position: absolute;
  opacity: 1;
}


.player.CT {
  box-shadow: 0 0 0 .1vh var(--CTColor);
}

.player.T {
  box-shadow: 0 0 0 .1vh var(--TColor);
}

.player.flashed {
  box-shadow: 0 0 1vh .2vh white;
}

.player.dead {
  opacity: .5;
}

.playerArrow {
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 25% 30%, 75% 30%);
  margin: auto;
  position: absolute;
}

.playerArrowContainer {
  width: 100%;
  height: 100%;
}

.playerShot {
  transition: transform 100ms linear;
  transform-origin: top;
  width: 1px;
  height: 5%;
  background-color: gray;
  position: absolute;
}

.player.T, .playerArrow.T {
  background-color: var(--TColor);
}

.player.CT, .playerArrow.CT {
  background-color: var(--CTColor);
}

.playerNameTag {
  position: absolute;
  transform: translate(-35%, -210%);
  display: block;
  /*border: 1px solid black;*/
  border-radius: 2px;
  background-color: var(--DarkColor);
  white-space: nowrap;
  padding: 0 2px;
  opacity: .5;
  z-index: -5;
  font-size: 1vh;
}

.playerMapWeapon {
  width: 200%;
  height: 100%;
  display: block;
  transform: translate(-30%, -420%);
  opacity: .4;
  z-index: -4;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
